@font-face {
    font-family: "Linux Libertine";
    src: url('../fonts/linux_libertine/LinLibertine_R.ttf');
    font-family: "Hoefler Text";
    src: url('../fonts/Hoefler_Text_Regular/Hoefler_Text_Regular.ttf');
}
/* Functions */
/* -----Start - Font-Size---------- */
:root {
--font-h1: 32px;
--font-subh1: 15.5px;
--font-h3: 16px;
--font-subh3: 13px;
/* -----End - Font-Size---------- */
/* -----Start Colors---------- */
--color-black: #000000;
--color-blue: #36c;
--color-blue-light:#447ff5;
--color-gray: #54595d;
--color-gray-hover:#72777d;
/* -----End Colors---------- */
/* -----Start Font Family---------- */
--font-hoefler: 'Hoefler Text','Linux Libertine',Georgia,'Times New Roman',Times,serif;
--font-linux: 'Linux Libertine', 'Hoefler Text', Georgia,'Times New Roman',Times,serif; 
--font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* -----End Font Family---------- */
/* -----------boders------------ */
--border-gray: 1px solid #a2a9b1;
--border-gray-hover: 1px solid #72777d;
--border-gray-line:1px solid #c8ccd1;
/* -----------boders------------ */

}
/* Functions */

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: var(--font-hoefler);
    font-size: var(--font-h1);
    text-transform: uppercase;
    font-weight: normal;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: none;
    
}

.wikipedia {
    text-transform: uppercase;  
    font-family: var(--font-hoefler); 
}

.log_1,
.log_3 {
    font-size: var(--font-h1);

}

.log_2 {
    font-size: 24px;
¿
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115px;
    padding-bottom: 5px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.title div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    font-size: var(--font-subh1);
    font-family: var(--font-linux);
}

.hero_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.hero_h3,
.hero_span {
    font-family: var(--font-apple);
}

.hero_h3 {
    color: var(--color-blue);
    font-size: var(--font-h3);
    font-weight: bold;
}

.hero_item:hover .hero_h3 {
    text-decoration: underline;
}

.hero_span {
    color: var(--color-gray);
    font-size: var(--font-subh3);
}

.central_logo_container {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.central_logo {
    width: 200px;
    height: 183px;
    align-self: center;
}

.hero_container {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-template-rows: repeat(5,65px);
    grid-template-areas: 
    "one one two two"
    "three logo logo four"
    "five logo logo six"
    "seven logo logo eight"
    "nine nine ten ten";
}

.english {
    grid-area: one;
    padding-right: 48px;
}

.español {
    grid-area: two;
    padding-left: 48px;
}

.japanese {
    grid-area: three;
}

.deutsch {
    grid-area: four;
}

.polish {
    grid-area: five;
    padding-right: 11px;
}

.french {
    grid-area: six;
    padding-left: 11px;
}

.italian {
    grid-area: seven;
}

.chinese {
    grid-area: eight;
}

.portuguese {
    grid-area: nine;
    padding-right: 48px;
}

.polski {
    grid-area: ten;
    padding-left: 48px;
}

.item_left {
    align-items: flex-end;
    height: 45px;
    width: 165px;
    align-items: center;
    justify-self: end;
}

.item_right {
    align-items: flex-start;
    height: 45px;
    width: 165px;
    align-items: center;
    justify-self: start;
}

.search_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.container_search_bar {
    display: flex;
    width: 540px;
    height: 62px;
    justify-content: center;
}

#languages {
    width: 48.17px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
    font-family: var(--font-apple);
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: var(--color-gray);
}

.input_search {
    width: 395px;
    height: 46px;
    font-size: 16px;
    padding: 0;
    padding: 8px 64px 8px 12px;
    box-sizing: border-box;
    border: var(--border-gray);
    border-radius: 2px 0 0 2px;
    border-right: none;
}

.input_search:hover {
    border: var(--border-gray-hover);
    border-right: 0;
}

.input_search:focus{
    outline-color: none;
    outline: none;
    border: 2px solid var(--color-blue);

}

.languages_input {
    position: relative;
    width: 395px;
    height: 46px;
    box-sizing: border-box;
    font-size: 16px;
}

.icon_input {
    width: 56px;
    height: 44px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 0 2px 2px 0;
}

.icon_input:hover {
    background-color: var(--color-blue-light);
}

.icon-search {
    color: rgba(255, 255, 255, 0.87);
    font-size: 19px;
    font-size: 16px;
}

.button_left,
.button_central,
.button_right {
    color: var(--color-blue);
    font-weight: bold;
    font-size: 14px;
}

.button_left {
    font-size: 22px;
    font-weight: normal;
}
.button_central {
    margin-left: 12px;
    margin-right: 12px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.button_container {
    width: 300px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-gray);
    background-color: #f8f9fa;
    border-radius: 2px;
}

.button_container:hover {
    background-color: white;
}

.line_left,
.line_right {
    width: 65px;
    height: 0;
    border: var(--border-gray-line);
    border-bottom: none;
    align-self: center;
}

.line_left {
    margin-right: 15px;
}
.line_right {
    margin-left: 15px;
}

.line_central {
    width: 97.5%;
    height: 0;
    border: var(--border-gray-line);
    border-bottom: none;
    margin: auto;
    
}