@font-face {
    font-family: "Linux Libertine";
    src: url('../fonts/linux_libertine/LinLibertine_R.ttf');
    font-family: "Hoefler Text";
    src: url('../fonts/Hoefler_Text_Regular/Hoefler_Text_Regular.ttf');
}
/* Functions */
/* -----Start - Font-Size---------- */
:root {
--font-h1: 32px;
--font-subh1: 15.5px;
--font-h3: 16px;
--font-subh3: 13px;
/* -----End - Font-Size---------- */
/* -----Start Colors---------- */
--color-black: #000000;
--color-blue: #36c;
--color-gray: #54595d;

/* -----End Colors---------- */
/* -----Start Font Family---------- */
--font-hoefler: 'Hoefler Text','Linux Libertine',Georgia,'Times New Roman',Times,serif;
--font-linux: 'Linux Libertine', 'Hoefler Text', Georgia,'Times New Roman',Times,serif; 
--font-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* -----End Font Family---------- */
}
/* Functions */

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: var(--font-hoefler);
    font-size: var(--font-h1);
    text-transform: uppercase;
    font-weight: normal;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: none;
    
}

.wikipedia {
    text-transform: uppercase;  
    font-family: var(--font-hoefler); 
}

.log_1,
.log_3 {
    font-size: var(--font-h1);

}

.log_2 {
    font-size: 24px;
¿
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115px;
    padding-bottom: 5px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.title div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitle {
    font-size: var(--font-subh1);
    font-family: var(--font-linux);
}

.hero_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.hero_h3,
.hero_span {
    font-family: var(--font-apple);
}

.hero_h3 {
    color: var(--color-blue);
    font-size: var(--font-h3);
    font-weight: bold;
}

.hero_item:hover .hero_h3 {
    text-decoration: underline;
}

.hero_span {
    color: var(--color-gray);
    font-size: var(--font-subh3);
}

.central_logo_container {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.central_logo {
    width: 200px;
    height: 183px;
    align-self: center;
}

.hero_container {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-template-rows: repeat(5,65px);
    grid-template-areas: 
    "one one two two"
    "three logo logo four"
    "five logo logo six"
    "seven logo logo eight"
    "nine nine ten ten";
}

.english {
    grid-area: one;
    padding-right: 48px;
}

.español {
    grid-area: two;
    padding-left: 48px;
}

.japanese {
    grid-area: three;
}

.deutsch {
    grid-area: four;
}

.polish {
    grid-area: five;
    padding-right: 11px;
}

.french {
    grid-area: six;
    padding-left: 11px;
}

.italian {
    grid-area: seven;
}

.chinese {
    grid-area: eight;
}

.portuguese {
    grid-area: nine;
    padding-right: 48px;
}

.polski {
    grid-area: ten;
    padding-left: 48px;
}

.item_left {
    align-items: flex-end;
    height: 45px;
    width: 165px;
    align-items: center;
    justify-self: end;
}

.item_right {
    align-items: flex-start;
    height: 45px;
    width: 165px;
    align-items: center;
    justify-self: start;
}